<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Swagger api">

<listeners>
  <listener class-name="com.report.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="BDD TEST">
  <classes>
  <class name="com.stepDefinition.Steps"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
